<header class="navbar">

	<div class="logo-container">
		<img src="./img/logoTransBco.png" alt="Logo Huellitas" class="logo">
		<span class="brand-name">Clínica Veterinaria</span>
	</div>

	<div class="hamburger" id="hamburger">
		<span class="material-icons">menu</span>
	</div>

	<div class="mobile-menu" id="mobileMenu">
		<a href="#">Administrador</a>
		<a href="#">Usuario</a>
		<a href="#">Servicios</a>
		<a href="#" onclick="location.href='/HuellitasApp/LogoutServlet'">
			Cerrar sesión </a>
		<!--  <a href="/HuellitasApp/LogoutServlet">Cerrar sesión</a> -->

	</div>

</header>

