/* BOTONES GENERALES */

.btn {
    background-color: var(--gris-medio);
    color: var(--blanco);
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.btn:hover {
    background-color: var(--gris-oscuro);
    transform: scale(1.03);
}

/* BOTÓN LOGIN */

.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: var(--gris-claro);
    color: var(--blanco);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-login:hover {
    background-color: var(--gris-medio);
    transform: scale(1.03);
}
