/* ===== NAVBAR ===== */
.navbar {
	width: 100%;
	height: 80px;
	background-color: var(--gris-oscuro);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

/* LOGO + TEXTO */
.logo-container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.logo {
	width: 180px;
	object-fit: contain;
}

/*NOMBRE DEL USUARIO Y ROL*/
.user-info {
	color: var(--blanco);
	font-size: 0.9rem;
	margin-left: auto;
	margin-right: 20px;
	font-weight: 500;
}

/*NOMBRE DE LA CLÍNICA*/
.brand-name {
	color: var(--blanco);
	font-size: 20px;
	font-weight: bold;
}

/* HAMBURGER */
.hamburger {
	font-size: 32px;
	color: var(--blanco);
	cursor: pointer;
	display: block;
}

/* MENÚ MÓVIL */
.mobile-menu {
	position: absolute;
	top: 80px;
	right: 0;
	background-color: var(--gris-oscuro);
	width: 220px;
	display: none;
	flex-direction: column;
	opacity: 0;
	transform: translateY(-10px);
	transition: all 0.3s ease;
}

.mobile-menu.active {
	display: flex;
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	padding: 15px;
	color: var(--blanco);
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-menu a:hover {
	background-color: var(--gris-medio);
}

/* RESPONSIVE */
@media ( max-width :768px) {
	.hamburger {
		display: block;
	}
}