
/* ================= REGISTRO ================= */

.register-card {
    background-color: var(--gris-oscuro);
    width: 100%;
    max-width: 420px;
    padding: 40px 30px;
    border-radius: 18px;
    text-align: center;
    color: var(--blanco);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
        0 0 20px rgba(0, 0, 0, 0.6),
        inset 0 0 8px rgba(255, 255, 255, 0.05);
}


/* LOGO */

.register-logo {
    width: 160px;
    margin-bottom: 20px;
}

/* TÍTULO */

.register-card h2 {
    margin-bottom: 25px;
}

/* INPUTS */

.input-group {
    background-color: var(--gris-medio);
    display: flex;
    align-items: center;
    padding: 12px 14px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.input-group span {
    color: var(--blanco);
    margin-right: 10px;
}

.input-group input {
    background: none;
    border: none;
    outline: none;
    color: var(--blanco);
    width: 100%;
    font-size: 15px;
}

/* BOTÓN */

.btn-registro {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: var(--gris-claro);
    color: var(--blanco);
    font-size: 16px;
    cursor: pointer;
}

.btn-registro:hover {
    background-color: var(--gris-medio);
}

/* LAYOUT GENERAL */
/* ================= REGISTRO ================= */

.register-layout{
    display:flex;
    min-height: calc(100vh - 160px);
}

/* COLUMNA IMAGEN */

.register-image{
    flex:1;
    background:
        linear-gradient(
            rgba(0,0,0,0.4),
            rgba(0,0,0,0.4)
        ),
        url("../img/Portada.jpg") center/cover no-repeat;
}

/* COLUMNA FORMULARIO */

.register-container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}


/* ===== RESPONSIVE MÓVIL ===== *//* ===== RESPONSIVE GLOBAL ===== */
@media screen and (max-width: 1024px){

    .registro-image,
    .register-image{
        display: none !important;
    }

    .registro-layout,
    .register-layout{
        flex-direction: column;
    }

    .registro-container,
    .register-container{
        width: 100%;
    }

    body{
        overflow-x: hidden;
    }
}
